@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo</h1>
    <p>Meu projeto de filmes para o teste de desenvolvedor .Net jr</p>
    <p>Realize a autenticação para cadastrar seus filmes favoritos</p>
</div>
